{% extends "base.html" %}
{% block content %}

<!-- ABOUT SECTION -->
<div class="container-fluid">
    <div class="aboutDiv">
        <h2 class="text-start m-0">Who We Are</h2>
        <p>
          Job Searching Website is all about job, education and funding opportunities.
          Launched as a non-profit job search project in 2023, it evolved into the most
          successful online business, with its website rated as one of the most
          popular nationwide.
        </p>
        <p>
          Since 2022, weve been privileged to work with major employers based in the world,
          connecting them with the right target audience. Throughout this period, weve
          accumulated the experience and knowledge that has served as a major basis for our success.
          All of these, combined with the special treatment that we give to our clients and users,
          have kept Job Searchin the service of choice among the employment community.
        </p>
        <p>
          Since 2022, weve been privileged to work with major employers based in the world,
          connecting them with the right target audience. Throughout this period, weve
          accumulated the experience and knowledge that has served as a major basis for our success.
          All of these, combined with the special treatment that we give to our clients and users,
          have kept Job Searchin the service of choice among the employment community.
        </p>
    </div>
</div>
{% endblock %}